a {
  color: white;
  text-decoration: none;
}

.card_content {
  display: flex;
}

.card {
  position: relative;
  background: black;
  width: 18vh;
  height: 30vh;
  margin: 15px;
  box-shadow: 0 5px 25px rgb(1 1 1/ 20%);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s ease;
}
.card:hover {
  transform: scale(110%);
}

.card_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card_info {
  font-family: "undertale";
  font-size: 1.3rem;
  text-align: center;
  position: absolute;
  bottom: -52%;
  opacity: 85%;
  width: 100%;
  height: 22vh;
  background-color: black;
  /* padding-bottom: 2vh; */
  transition: 0.3s ease;
}

.card_info:hover {
  transform: translateY(-70%);
}

.card_name {
  padding-bottom: 1vh;
  margin-top: 0;
}

.card_rating {
  font-family: "undertale";
  font-size: 1.3rem;
  position: absolute;
  top: 0%;
  right: 0%;
  opacity: 70%;
  background-color: black;
  padding: 0.5vh;
  padding-right: 0;
}

.card_arrow {
  margin: 0;
}

.card_star {
  width: 3vh;
}
