.pagination {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 30px 0 60px;
}

.page-link {
  height: 3vh;
  width: 3vh;
  margin: 5px;
  color: black;
  font-family: undertale;
  font-size: 1.5rem;
  border: 0.2rem solid black;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s ease;
}

.page-link:hover {
  transform: translateY(-5px);
  background-color: #ff4e00;
}

.current_page {
  height: 3vh;
  width: 3vh;
  margin: 5px;
  color: black;
  font-family: undertale;
  font-size: 1.5rem;
  border: 0.2rem solid black;
  background-color: #ff4e00;
  border-radius: 3px;
}

ul {
  list-style-type: none;
}
